#question {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.time {
    color: black;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    margin: 0 50px;
    padding: 20px 0px; 
}

.correctness {
    color: rgb(224, 96, 96);
}

.choicecontainer {
    color: black;
    font-size: large;
    background: white; 
    text-align: center;
    display: flex;
    align-items: center;
    margin: 20px;
    margin-right: 150px;
    margin-left: 150px;
    border-radius: 20px;

}

.choicecontainer:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 plum;
    transition: transform 150ms; 
}

.choice-prefix {
    background: lightpink;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.choice-text {
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}